**/.settings/**
**/target/**
**/.idea/**
**/build/**
**/out/**
**/bin/**
**/logs/**
**/*.iml
**/.project
**/.classpath
**/src/main/generated/**
**/.gradle
*.ipr
*.iws
*.iml
*.DS_Store

config/application-local-west\.properties
